---
layout: v2/default
title: DID(it) Playbook - Players
---
<div class="container mt-5">
  <!-- .row -->
  <div class="row">
    {% include v2/sidenav.html %}
    <!-- .main -->
    <main role="main" class="col-md-9">
      <!-- hero -->
      {% assign hero = site.data.players.index.hero %}
      {% include v2/hero.html hero=hero %}
      <!-- /.hero -->
      <!-- .tiles -->
      {% assign related = site.data.players.index.roles %}
      {% include v2/related.html related=related hide_header=true %}
      <!-- /.tiles -->
    </main>
    <!-- /.main -->
  </div>
  <!-- /.row -->
</div>