---
layout: v2/default
title: DID(it) Playbook - Practices
---
<div class="container mt-5">
  <!-- .row -->
  <div class="row">
    {% include v2/sidenav.html %}
    <!-- .main -->
    <main role="main" class="col-md-9">
      <!-- hero -->
      {% assign hero = site.data.practices.index.hero %}
      {% include v2/content/hero.html hero=hero %}
      <!-- /.hero -->
<!-- .custom-list -->
<section class="mb-5">
<div class="custom-list">
<div class="mb-5">
<div class="row">
<div class="col-md-3">
<div class="custom-list-section">
<img class="img-fluid" src="../../assets/img/v2/icons/pb-kickoff@2x.png" alt="...">
<div class="custom-list-title text-center">Kickoff</div>
</div>
</div>
<div class="col-md-3">
<div class="custom-list-section">
<img class="img-fluid" src="../../assets/img/v2/icons/pb-discovery@2x.png" alt="...">
<div class="custom-list-title text-center">Problems</div>
</div>
</div>
<div class="col-md-3">
<div class="custom-list-section">
<img class="img-fluid" src="../../assets/img/v2/icons/pb-framing@2x.png" alt="...">
<div class="custom-list-title text-center">Solutions</div>
</div>
</div>
<div class="col-md-3">
<div class="custom-list-section">
<img class="img-fluid" src="../../assets/img/v2/icons/pb-buildmeasurelearn@2x.png" alt="...">
<div class="custom-list-title text-center">Iterations</div>
</div>
</div>
</div>
</div>
<div class="mb-0">
<h5 class="mb-4">Practices</h5>
<div class="row">
<div class="col-md-3">
<ul class="custom-list-section">
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
2x2 Sorting
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Contextual Inquiry
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Dump and Sort
</a>
</li>
</ul>
</div>
<div class="col-md-3">
<ul class="custom-list-section">
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
2x2 Sorting
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Contextual Inquiry
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Dump and Sort
</a>
</li>
</ul>
</div>
<div class="col-md-3">
<ul class="custom-list-section">
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
2x2 Sorting
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Dot Voting
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Group Sketching
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Journey Maps
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Prototyping
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Science Fair
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Service Blueprints
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Wireframing
</a>
</li>
</ul>
</div>
<div class="col-md-3">
<ul class="custom-list-section">
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
2x2 Sorting
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Contextual Inquiry
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Dump and Sort
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Group Sketching
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Journey Maps
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Personas
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Prototyping
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Service Blueprints
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Synthesis
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Service Blueprints
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Usability Testing
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
Wireframing
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
UI / Visual Design
</a>
</li>
<li>
<a class="text-center" href="{{ site.baseurl }}/v2/practice">
UI / Visual Design
</a>
</li>
</ul>
</div>
</div>
</div>

</div>
</section>
<!-- /.custom-list -->


</main>
<!-- /.main -->

</div>
<!-- /.row -->
</div>