<section class="mb-5">
  {% unless include.hide_header %}
    <h2 class="mb-4">Related</h2>
  {% endunless %}
  <div class="row">
    {% for item in include.related %}
      {% assign formatted_item = item | replace: " ", "_" | replace: "/", "_" | remove: "," | remove: "'" | downcase %}
      {% assign tile_item = site.data.tiles[formatted_item] %}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img class="card-img-top" src="{{ site.baseurl }}/assets/img/v2/icons/{{ tile_item.image.filename }}" alt="{{ tile_item.image.alt }}">
          <div class="card-body">
            <h5 class="card-title text-center">{{ tile_item.title }}</h5>
          </div>
          <a class="card-footer text-center" href="{{ site.baseurl }}/v2/{{tile_item.root}}/{% include v2/to_url.html title=tile_item.title %}">Read more <span class="sr-only">about {{ tile_item.title }}</span></a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
