<section class="mb-5">
  <h2 class="mb-4">Resources</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
      <tbody>
        {% for item in include.resources %}
          <tr>
            <td scope="row">{{ item.description }}</td>
            <td>
              {% if item.url %}
                <a href="{{ item.url }}" target="_blank">
              {% else %}
                <a href="{{ site.baseurl }}/v2/docs/{{ item.filename }}" target="_blank">
              {% endif %}
                  Open <span class="sr-only">{{ item.description }}</span>
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
