<div class="sideLinks">
    <h2>UX Practices</h2>
    <ul>
     <li><a href="{{ site.baseurl }}/interview-script-generation">Interview Script Generation</a></li>
     <li><a href="{{ site.baseurl }}/contextual-inquiry">Contextual Inquiry Interviewing</a></li>
     <li><a href="{{ site.baseurl }}/user-testing">User Testing</a></li>
     <li><a href="{{ site.baseurl }}/team-synthesis">Team Synthesis of User Testing/Interviews</a></li>
     <li><a href="{{ site.baseurl }}/journey-map">Journey Map</a></li>
     <li><a href="#">Service Blueprints</a></li>
     <li><a href="{{ site.baseurl }}/storyboard">Storyboard</a></li>
     <li><a href="{{ site.baseurl }}/persona-development">Persona Development</a></li>
     <li><a href="{{ site.baseurl }}/2x2sorting">2x2 Sorting Business Goals vs Risk</a></li>
     <li><a href="#">Wireframe Development</a></li>
     <li><a href="#">Group Sketching / Dot Voting</a></li>
     <li><a href="#">5 Whys</a></li>
     <li><a href="#">Brainstorming Sessions</a></li>
     <li><a href="#">Prototype Development for User Testing</a></li>
     <li><a href="#">508 Accessibility Considerations</a></li>
     <li><a href="{{ site.baseurl }}/atomic-design">Atomic Design</a></li>
     <li><a href="#">UI Design Development</a></li>
     <li><a href="#">UI Component Library Development</a></li>
    </ul>
    </div>
  </div>