<header class="sticky-top custom-bkg-white" id="scroll-top">
  <div class="container">
    <a class="navbar-brand ml-2" href="{{ site.baseurl }}/{{ site.data.header.brand.url }}">
      <img style="height: 50px; margin-right: 20px;" src="{{ site.baseurl }}/assets/img/kps_agile_playbook.jpg" alt="logo">{{ site.data.header.brand.title }}</a>
    <img style="height: 50px;" src="{{ site.baseurl }}/assets/img/knight.png" alt="logo" class="navbar-brand float-right">
  </div>

  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for item in site.data.header.left_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/{% include to_url.html title=item.title %}">{{ item.title }}</a>
            </li>
         {% endfor %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% for item in site.data.header.right_nav %}
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
            </li>
         {% endfor %}
      </div>
    </div>
  </nav>
</header>