<!-- <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/playbook">Our Playlist</a>
            <a href="{{ site.baseurl }}/product-management">Product Management</a>
            <a href="{{ site.baseurl }}/design">Product Design</a>
            <a href="{{ site.baseurl }}/engineering">Product Engineering</a>
          </nav>
        -->
          
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="{{ site.baseurl }}/"><img src="{{ site.avatar }}" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/playbook">
                      Our Playlist
                    </a>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Team
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ site.baseurl }}/leadership">Leadership</a>
                  <a class="dropdown-item" href="{{ site.baseurl }}/product-management">Product Management</a>
                  <a class="dropdown-item" href="{{ site.baseurl }}/design">Product Design</a>
                  <a class="dropdown-item" href="{{ site.baseurl }}/engineering">Product Engineering</a>
                </div>
              </li>
              
            </ul>
          
          </div>
        </nav>
