<div class="sideLinks">
            <h2>Plays</h2>
                <ul>
                    <!--<li><a href="{{ site.baseurl }}/overview">Overview (Coming Soon)</a></li>-->
                    <li><a href="{{ site.baseurl }}/definitions">Definitions</a></li>
                    <li><a href="{{ site.baseurl }}/product-manager-role">Role of the Product Manager</a></li>
                    <li><a href="{{ site.baseurl }}/product-owner-role">Role of the Product Owner</a></li>
                    <li><a href="{{ site.baseurl }}/kickoff">Project Kickoff</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/strategic-objectives">Defining Strategic Objectives</a></li>
                            <li><a href="{{ site.baseurl }}/business-goals">Defining Business Goals</a></li>
                            <li><a href="{{ site.baseurl }}/risks-mitigation">Risks &amp; Mitigations</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/discovery">Discovery</a></li>
                        <ul><ul><ul>                           
                            <li><a href="{{ site.baseurl }}/user-interviews">Performing User Interviews</a></li>
                            <li><a href="{{ site.baseurl }}/interview-synthesis">User Interview Synthesis</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/problem-workshop">Problem Workshop</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/technical-discovery-analysis">Technical Discovery &amp; Analysis</a></li>
                            <li><a href="{{ site.baseurl }}/defining-prioritizing-problems">Defining &amp; Prioritizing Problems</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/framing">Framing</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/defining-the-problem">Solutioning - Defining the Problem</a></li>
                            <li><a href="{{ site.baseurl }}/solutioning-sketching">Solutioning - Brainstorming &amp; Sketching</a></li>
                            <li><a href="{{ site.baseurl }}/prototype-interviews">Prototype Interviews</a></li>
                            <li><a href="{{ site.baseurl }}/ui-design-development">Prototype Development for User Testing</a></li>
                            <li><a href="{{ site.baseurl }}/business-metrics">Defining Business Value Metrics</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/inception">Inception</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/prioritization">Prioritization</a></li>
                            <li><a href="{{ site.baseurl }}/feature-sizing">Feature Sizing</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/generating-backlog">Generating a Backlog</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/writing-user-stories">Writing User Stories</a></li>
                            <li><a href="{{ site.baseurl }}/writing-acceptance-criteria">Writing Acceptance Criteria</a></li>
                            <li><a href="{{ site.baseurl }}/splitting-stories">Splitting Stories</a></li>
                            <li><a href="{{ site.baseurl }}/measuring-value">Measuring Business Value</a></li>
                            <li><a href="{{ site.baseurl }}/definition-of-done">Defining Definition of Done</a></li>
                        </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/delivering-product">Delivering a Product</a></li>
                    <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/defining-releases">Defining Releases</a></li>
                            <li><a href="{{ site.baseurl }}/measuring-velocity">Measuring &amp; Using Velocity</a></li>
                            <li><a href="{{ site.baseurl }}/testing-software">Testing Software</a></li>
                            <li><a href="{{ site.baseurl }}/integrating-systems-services">Integrating with Systems &amp; Services</a></li>
                            <li><a href="{{ site.baseurl }}/client-management">Client Management</a></li>
                            <li><a href="{{ site.baseurl }}/setting-up-product-board">Setting Up a Product Board</a></li>
                            <li><a href="{{ site.baseurl }}/ui-component-library-development">UI Component Library Development (Coming Soon)</a></li>
                            <li><a href="{{ site.baseurl }}/accessibility-considerations">Accessibility Considerations</a></li>
                    </ul></ul></ul>
                    <li><a href="{{ site.baseurl }}/meetings">All the Meetings You Need</a></li>
                        <ul><ul><ul>
                            <li><a href="{{ site.baseurl }}/daily-standup">Daily Standup</a></li>
                            <li><a href="{{ site.baseurl }}/iteration-planning">Iteration Planning</a></li>
                            <li><a href="{{ site.baseurl }}/retrospective">Retrospective</a></li>
                            <li><a href="{{ site.baseurl }}/check-in">Client Check In</a></li>
                        </ul></ul></ul>
                </ul>
    </div>
