---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/1.4 $helvetica;
  color: $darkGray;
  padding-top: 38px;

}

body, html {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;

}

#main.container {
  min-height: 100vh;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 32px;
  margin-top: 18px;
  text-align: left;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

p:first-child, h2:first-child {
  margin-top: 0!important;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

h1.header {
  font-size: 32px;
  font-weight: normal;
  background: rgb(71, 76, 91);
  margin-top: 0;
  margin-bottom: 50px;
  padding: 35px 25px;
  text-align: left;
  color: #fff;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

/*
.wrapper-masthead {
  margin-bottom: 50px;
}
*/

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}
/*
nav {
  float: left;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}
*/


.navbar {
//background-color: rgba(255, 255, 255, 0.85)!important;
background-color: white!important;
box-shadow: 1px 1px 1px rgb(194, 194, 194);
  a:hover {
    border-bottom: rgb(47, 116, 182) solid 3px!important ;
  }

  a:hover.navbar-brand {
    border-bottom: 0px!important;
  }
}


.navbar.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}



//
// .main
//

/* .hero {
  // Sizing 
  width: 100vw;
  height: 100vh;
   // Flexbox stuff 
   display: flex;
   justify-content: center;
   align-items: center;
   // Text styles 
   text-align: center;
     // Background styles 
     background-image: url(../../images/didit_background.svg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
}
*/

/*
.hero-image {
  background-color: rgb(71, 76, 91);
  height: 95vh;
  background-image: url(../../images/full-hero3x.png);
  display: flex;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

    @include mobile {
      background-size: contain;
      background-position: center center;
      height: 20vh;

    }
}
*/

.hero-image img {
  width: 100%;
  height: auto;
}


//Temporary fix for fixed header cutting off splash image
.splash-screen {
  position: relative;
  height: 100%;
  
}


.splash-screen i, .hero i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 330%);
  -ms-transform: translate(-50%, 330%);
  color: white;
  font-size: 100px;
  border: none;
  cursor: pointer;
  
  @include mobile {
    font-size: 70px;
    transform: translate(-50%, 420%);
    -ms-transform: translate(-50%, 420%);
  }
}

.hero-image i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(600%, 730%);
  -ms-transform: translate(600%, 730%);
  color: white;
  font-size: 100px;
  border: none;
  cursor: pointer;
  @include mobile {
    font-size: 70px;
    transform: translate(-50%, 420%);
    -ms-transform: translate(-50%, 420%);
  }
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.splash-screen i:hover, .hero i:hover {
  color: black;
}


a.maincontent-anchor {
  display: block;
    position: relative;
    top: 10px;
}

.Body-Container h2 {
  padding-top: 20px!important;
}

.mainBodyContent:before {
  content:"";
  display:block;
  height:79px; /* fixed header height*/
  margin:-79px 0 0; /* negative fixed header height */
  }

  // Prevents fixed header from covering content after clicking anchor point
  .headings:before, .paragraph:before, .list:before, .columns:before, .linksandimages:before, .equalcolumns:before, .varyingcolumns:before {
    content:"";
    display:block;
    height:79px; /* fixed header height*/
    margin:-79px 0 0; /* negative fixed header height */
    }

  .roledescription:before, .practices:before, .how:before, .discovery:before, .problemstatement:before, .framing:before, .inception:before, .research:before, .buildmeasurelearn:before, .interviews:before, .userstory:before, .prototype:before, .usertesting:before {
      content:"";
      display:block;
      height:79px; /* fixed header height*/
      margin:-79px 0 0; /* negative fixed header height */
      }
      
  .strategicobjectives:before, .strategicgoals:before, .twobytwo:before {
      content:"";
      display:block;
      height:79px; /* fixed header height*/
      margin:-79px 0 0; /* negative fixed header height */
      }
     
img.splash {
  width: 100%; 
  //height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hljs-keyword {
  color: rgb(137, 151, 46);
}

.hljs-title {
  color: rgb(81, 139, 205);
}

.hljs-string {
  color: rgb(80, 158, 152);
}

.hljs-comment {
  color: rgb(92, 109, 122);
}

.hljs-grey{
  color: rgb(149, 160, 161);
}

.lang-ruby{
  color: rgb(189, 83, 42);
}


.sideLinks {

    @include mobile {
      margin: 15px 0;
    }


    h2 {
      margin: 0!important;
      font-size: 20px;
    }
    a {
      display: block;
      padding: 5px;
    }

    a:hover {
      background: #5a5a5a;
      color: #fff;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      padding-left: 5px;

    }

    li {
      padding-bottom: 5px;
      font-size: 14px;
    }
}

.max-270 {
  max-width: 270px;
  
  @include mobile {
    display: none;
    visibility: hidden;
  }
}


.center-column {
  flex: 1 1 auto;
}
.toc {
  background: rgb(236, 236, 236);
  color: #000;
  border: 1px solid rgb(212, 212, 212);
  padding: 0 15px;
  border-radius: 2px;

    @include mobile {
      display: none;
    }

    @media (max-width: 764px) { 
      display: none;
      width: 100%;;
     }

    a {
      margin-bottom: 100px!important;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    ul li{
      list-style-type: circle;
      padding-left: 5px;

    }

    li {
      padding-bottom: 5px;
      text-decoration: none;
      font-size: 14px;
    }

}


.bodyContainer {
  width: 100%;
  text-align: left;
  padding: 0 30px;
}

.our-playbook {
  width: 100%;
  text-align: left;
  padding: 0 30px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.our-product-managers {
  width: 100%;
  text-align: left;
  padding: 0 30px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.our-designers {
  width: 100%;
  text-align: left;
  padding: 0 30px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.our-engineers {
  width: 100%;
  text-align: center;
  padding: 0 30px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.leadership {
  width: 100%;
  text-align: left;
  padding: 0 30px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 10px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
