<!-- header -->
<header class="usa-header usa-header-extended" role="banner">

  <!-- logo -->
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/v2/index"
        title="DID(it) Playbook"
        aria-label="DID(it) Playbook">
        DID(it) Playbook
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <!-- //logo -->

  <!-- nav -->
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">

      <button class="usa-nav-close">
        <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
      </button>

      <ul class="usa-nav-primary usa-accordion">
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-players">
            <span>What is the Players Lineup?</span>
          </button>
          <div id="extended-nav-section-players" class="usa-nav-submenu usa-megamenu usa-grid-full">
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a class="usa-font-sm-uppercase" href="{{ site.baseurl }}/v2/players">Players Lineup</a>
                </li>
              </ul>
            </div>
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/v2/player">Product Owner</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/player">Product Manager</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/player">Product Designer</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/player">Product Engineer</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-plays">
            <span>What is the Playlist?</span>
          </button>
          <div id="extended-nav-section-plays" class="usa-nav-submenu usa-megamenu usa-grid-full">
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a class="usa-font-sm-uppercase" href="{{ site.baseurl }}/v2/playlist"><h6>Playlist</h6></a>
                </li>
              </ul>
            </div>
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/v2/play">Project Kickoff</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/play">Dicovery of Problems</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/play">Framing</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/play">Build, Measure, Learn</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="extended-nav-section-practices">
            <span>What are the Practices?</span>
          </button>
          <div id="extended-nav-section-practices" class="usa-nav-submenu usa-megamenu usa-grid-full">
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a class="usa-font-sm-uppercase" href="practices.html">Practices</a>
                </li>
              </ul>
            </div>
            <div class="usa-megamenu-col">
              <ul>
                <li>
                <a href="{{ site.baseurl }}/v2/practice">Popcorn Scripting</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Contextual Inquiry</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Immersion</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Group Interview</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Team Synthesis</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Science Fair</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">User Testing</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">5 Whys</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Service Blueprints</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Journey Map</a>
                </li>
              </ul>
            </div>
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Assumptions Tracker</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Dump and Sort</a>
                </li>
                <li>
                <a href="{{ site.baseurl }}/v2/practice">Group Sketching</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Brainstorming</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Personas</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Personas</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Brainstorming</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Process Mapping</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Storyboard</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Dot Voting</a>
                </li>
              </ul>
            </div>
            <div class="usa-megamenu-col">
              <ul>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Wireframing</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">2x2 Sorting</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Stack Ranking</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">2x2 Sorting</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Atomic Design</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Sizing</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Derisking</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Sizing</a>
                </li>
                <li>
                  <a href="{{ site.baseurl }}/v2/practice">Deploying Software</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <!-- secondady menu -->
      <div class="usa-nav-secondary">
        <form class="usa-search usa-search-small js-search-form">
          <div role="search">
            <label class="usa-sr-only" for="extended-search-field-small">Search box</label>
            <input id="extended-search-field-small" type="search" name="search">
            <button type="submit">
              <span class="usa-sr-only">Search</span>
            </button>
          </div>
        </form>

        <ul class="usa-unstyled-list usa-nav-secondary-links">
          <li class="js-search-button-container">
            <button class="usa-header-search-button js-search-button">Search</button>
          </li>
          <li>
            <a href="{{ site.baseurl }}/v2/about">About DID(it)</a>
          </li>
        </ul>
      </div>
        <!-- //secondady menu -->
    </div>
  </nav>
    <!-- nav -->

</header>
  <!-- //header -->