<div class="col-md-3">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="sidenav">
          <ul class="custom-sidenav-list">
              <li>
                  <a href="players.html" class="custom-current">
                      Players Lineup
                  </a>
              </li>
              <ul class="custom-sidenav-sub_list">
                  <li>
                      <a href="{{ site.baseurl }}/v2/product-manager-role">
                          Product Manager
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/product-designer-role">
                          Product Designer
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/product-engineer-role">
                          Product Engineer
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/product-owner-role">
                          Product Owner
                      </a>
                  </li>
              </ul>
          </ul>
      </div>
  </nav>
</div>