<div class="col-md-3">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="sidenav">
          <ul class="custom-sidenav-list">
              <li>
                  <a href="{{ site.baseurl }}/v2/practices.html" class="custom-current">
                      Practices
                  </a>
              </li>
              <ul class="custom-sidenav-sub_list">
                  <li>
                      <a href="{{ site.baseurl }}/v2/2x2_sorting">
                          2x2 Sorting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/5_whys">
                          5 Whys
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/assumptions_tracker">
                          Assumptions Tracker
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/atomic_design">
                          Atomic Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/brainstorming">
                          Brainstorming
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/client_check_in">
                          Client Check In
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/contextual_inquiry">
                          Contextual Inquiry
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/daily_standup">
                          Daily Standup
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/delivering_product">
                          Delivering Product
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/derisking">
                          Derisking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/dot_voting">
                          Dot Voting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/dump_and_sort">
                          Dump and Sort
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/backlog">
                          Backlog
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/group_interview">
                          Group Interview
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/group_sketching">
                          Group Sketching
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/immersion">
                          Immersion
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/iteration_planning">
                          Iteration Planning
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/journey_maps">
                          Journey Maps
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/pairing_on_demand">
                          Pairing on Demand
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/person_focused_culture">
                          Person Focused Culture
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/personas">
                          Personas
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/popcorn_scripting">
                          Popcorn Scripting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/problem_defintion">
                          Problem Defintion
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/prototyping">
                          Prototyping
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/publishing-software">
                          Publishing Software
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/responsive_design">
                          Responsive Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/retrospective">
                          Retrospective
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/science_fair">
                          Science Fair
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/self-organizing_teams">
                          Self-Organizing Teams
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/service_blueprints">
                          Service Blueprints
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/sizing">
                          Sizing
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/spiking">
                          Spiking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/stack_ranking">
                          Stack Ranking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/storyboard">
                          Storyboard
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/synthesis">
                          Synthesis
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/UI/visual_design">
                          UI/Visual Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/usability_testing">
                          Usability Testing
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/user_interview">
                          User Interview
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/wireframing">
                          Wireframing
                      </a>
                  </li>
              </ul>
          </ul>
      </div>
  </nav>
</div>