<div class="col-md-3">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidenav">
      <ul class="custom-sidenav-list">
        <li>
          <a href="{{ site.baseurl }}/v2/{{include.menu.url }}" class="custom-current">{{ include.menu.title }}</a>
        </li>
        {% if include.menu.children And include.menu.children != "" And include.menu.children != nil %}
          <ul class="custom-sidenav-sub_list">
            {% for menu_item_level1 in include.menu.children %}
              <li>
                <a href="{{ site.baseurl }}/v2/{{include.menu.url }}/{% include v2/to_url.html title=menu_item_level1.title %}">{{ menu_item_level1.title }}</a>
              </li>
              {% if menu_item_level1.children And menu_item_level1.children != "" And menu_item_level1.children != nil %}
                <ul class="custom-sidenav-sub_list">
                  {% for menu_item_level2 in menu_item_level1.children %}
                    <li>
                      <a href="{{ site.baseurl }}/v2/{{include.menu.url }}/{% include v2/to_url.html title=menu_item_level2.title %}">{{ menu_item_level2.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>