<div class="col-md-3">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="sidenav">
          <ul class="custom-sidenav-list">
              <li>
                  <a href="{{ site.baseurl }}/v2/practices.html" class="custom-current">
                      Practices
                  </a>
              </li>
              <ul class="custom-sidenav-sub_list">
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/2x2_sorting">
                          2x2 Sorting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/5_whys">
                          5 Whys
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/assumptions_tracker">
                          Assumptions Tracker
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/atomic_design">
                          Atomic Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/brainstorming">
                          Brainstorming
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/client_check_in">
                          Client Check In
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/contextual_inquiry">
                          Contextual Inquiry
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/daily_standup">
                          Daily Standup
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/delivering_product">
                          Delivering Product
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/derisking">
                          Derisking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/dot_voting">
                          Dot Voting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/dump_and_sort">
                          Dump and Sort
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/backlog">
                          Backlog
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/group_interview">
                          Group Interview
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/group_sketching">
                          Group Sketching
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/immersion">
                          Immersion
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/iteration_planning">
                          Iteration Planning
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/journey_maps">
                          Journey Maps
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/pairing_on_demand">
                          Pairing on Demand
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/person_focused_culture">
                          Person Focused Culture
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/personas">
                          Personas
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/popcorn_scripting">
                          Popcorn Scripting
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/problem_defintion">
                          Problem Defintion
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/prototyping">
                          Prototyping
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/publishing-software">
                          Publishing Software
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/responsive_design">
                          Responsive Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/retrospective">
                          Retrospective
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/science_fair">
                          Science Fair
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/self-organizing_teams">
                          Self-Organizing Teams
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/service_blueprints">
                          Service Blueprints
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/sizing">
                          Sizing
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/spiking">
                          Spiking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/stack_ranking">
                          Stack Ranking
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/storyboard">
                          Storyboard
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/synthesis">
                          Synthesis
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/UI/visual_design">
                          UI/Visual Design
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/usability_testing">
                          Usability Testing
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/user_interview">
                          User Interview
                      </a>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/practices/wireframing">
                          Wireframing
                      </a>
                  </li>
              </ul>
          </ul>
      </div>
  </nav>
</div>