<div class="col-md-3">
  {% assign url_parts = page.url | split: '/' %}
  {% assign url_parts_size = url_parts | size %}
  {% assign rm = url_parts | last | append: '/' %}
  {% assign base_url = page.url | replace: rm %}
  {% assign current_page = url_parts | last %}
  {% if base_url == '/v2/' %}
    {% assign base_url = base_url | append: rm %}
  {% endif %}
  {% assign root = base_url | split: '/' | last %}

  <nav class="navbar navbar-expand-sm navbar-light mb-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="sidenav">
      <ul class="custom-sidenav-list">
        <li>
          <a href="{{ site.baseurl }}/v2/{{ root }}" class="custom-current">{{ root | capitalize }}</a>
        </li>
        <ul class="custom-sidenav-sub_list">
          {% for node in site.pages %}
            {% if node.url contains base_url %}
              {% assign node_url_parts = node.url | split: '/' %}
              {% assign node_url_parts_size = node_url_parts | size %}
              {% assign filename = node_url_parts | last %}
              {% if url_parts_size <= node_url_parts_size and filename != 'index.html' and filename != 'players' and filename != 'practices' and filename != 'plays' %}
                <li><a href='{{ site.baseurl }}{{node.url}}' class="{% if current_page == filename %}custom-current{% endif %}">{{ node.title | split: ' - ' | last }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </ul>
    </div>
  </nav>
</div>