<div class="col-md-3">
  <nav class="navbar navbar-expand-sm navbar-light mb-5">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="sidenav">
          <ul class="custom-sidenav-list">
              <li>
                  <a href="{{ site.baseurl }}/v2/playlist.html" class="custom-current">
                      Playlist
                  </a>
              </li>
              <ul class="custom-sidenav-sub_list">
                  <li>
                      <a href="{{ site.baseurl }}/v2/kickoff">
                          Kickoff
                      </a>
                      <ul class="custom-sidenav-sub_list">
                          <li>
                              <a href="{{ site.baseurl }}/v2/project-kickoff">
                                  Project Kickoff
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/strategic-objectives">
                                  Strategic Objectives
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/business-goals">
                                  Business Goals
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/risks-and-mitigations">
                                  Risks and Mitigations
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/problem">
                          Problem
                      </a>
                      <ul class="custom-sidenav-sub_list">
                          <li>
                              <a href="{{ site.baseurl }}/v2/discovery">
                                  Discovery
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/problem-workshop">
                                  Problem Workshop
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/solution">
                          Solution
                      </a>
                      <ul class="custom-sidenav-sub_list">
                          <li>
                              <a href="{{ site.baseurl }}/v2/framing">
                                  Framing
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/inception">
                                  Inception
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/product-vision">
                                  Product Vision
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/play">
                          Lean Delivery
                      </a>
                      <ul class="custom-sidenav-sub_list">
                          <li>
                              <a href="{{ site.baseurl }}/v2/play">
                                  Lean Releases
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/play">
                                  Build, Release, Run
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/play">
                                  One Codebase
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/play">
                                  Don't Repeat Yourself
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/continuous-integration-deployment">
                                  Integration / Deployment
                              </a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="{{ site.baseurl }}/v2/play">
                          Resilient Ops
                      </a>
                      <ul class="custom-sidenav-sub_list">
                          <li>
                              <a href="{{ site.baseurl }}/v2/play">
                                  Technology Stack
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/infrastructure-architecture">
                                  Infrastructure / Architecture
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/secure-platform">
                                  Secure Platform
                              </a>
                          </li>
                          <li>
                              <a href="{{ site.baseurl }}/v2/operational-resilience">
                                  Operational Resilience
                              </a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </ul>
      </div>
  </nav>
</div>