<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>DID(it) Playbook</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/uswds.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/uswds.custom.css" />
    </head>
  <body>
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include v2/banner.html %}
    {% include v2/header.html %}
    {{ content }}
    {% include v2/footer.html %}
    <script src="{{ site.baseurl }}/assets/js/uswds.js"></script>
  </body>
</html>
